.link {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 2;
}

.link:hover {
  color: #eb4646;
  font-weight: 700;
}

.link-active {
  display: block;
  line-height: 2;
  color: #eb4646;
  font-weight: 700;
}